.css-batk84-MuiInputBase-root-MuiFilledInput-root::before {
  border-bottom: none !important;
}

.css-c5v1qu-MuiInputBase-input-MuiFilledInput-input {
  padding: 8px !important;
}
.css-batk84-MuiInputBase-root-MuiFilledInput-root,
.MuiFilledInput-input {
  @apply bg-inputBg #{!important};
}
.css-anqwzr-MuiInputBase-root-MuiFilledInput-root {
  @apply bg-inputBg #{!important};
}

.css-anqwzr-MuiInputBase-root-MuiFilledInput-root::before {
  border-bottom: none !important;
}
