$primary: #43c4f4 !default;
$secondary: #003863 !default;
$danger: #ff0000 !default;
$warning: #ff9800 !default;
$success: #198754 !default;
$white: #ffffff;
$gray: #888d94 !default;
$gray-mid: #eff0f6 !default;
$gray-light: #f6f6f6 !default;

$media-desktop-lg: "only screen and (min-width : 1200px)";
$media-desktop: "only screen and (max-width : 1200px)";
$media-tablet: "only screen and (max-width : 900px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 320px)";